ALTER TABLE qualification_fields DROP CONSTRAINT fk_94e34b05f639f774;
DROP TABLE qualification_fields;
ALTER TABLE qualification_values DROP CONSTRAINT fk_d0a1e46b443707b0;
ALTER TABLE qualification_values ADD CONSTRAINT FK_D0A1E46B443707B0 FOREIGN KEY (field_id) REFERENCES campaign_fields (id) NOT DEFERRABLE;
