<div class="table-container">
	<table class="data-table">
		<thead>
			<tr>
				{% for header in headers %}
					<th>{{ header }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody id="{{ id|default('') }}"> {% block table_body %}{% endblock %}
			</tbody>
		</table>
	</div>
