<!-- Overlay de Chargement -->
<div id="global-loader" class="loader-overlay {{ show|default(false) ? '' : 'hidden' }}">
	<div class="loader-content">
		<div class="spinner"></div>
		<p>{{ text|default('Synchronisation Zanova...') }}</p>
	</div>
</div>
