<header class="top-header">
	<div class="header-left">
		<button id="mobile-menu-toggle" class="btn-mobile res-hide">
			<i class="fas fa-bars"></i>
		</button>
		<h2 id="page-title">Tableau de bord</h2>
	</div>
	<div class="top-actions">
		<div class="status-box">
			<div class="status-indicator"></div>
			<span>Zanova Cloud Sync v2.4</span>
		</div>
		<button onclick="UI.showManualDialer()" class="btn-icon-alt" title="Appel Manuel">
			<i class="fas fa-phone"></i>
		</button>
		<button onclick="App.toggleTheme()" class="btn-icon-alt" title="Mode Sombre/Clair">
			<i class="fas fa-moon"></i>
		</button>
		<button class="btn-icon-alt" title="Notifications">
			<i class="fas fa-bell"></i>
		</button>
	</div>
</header>
